@import "../layout.module.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 79svh;
    h4 {
        font-family: $font;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.075rem;
        line-height: 1.5;
    }
}
.form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
    gap: 2rem;
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: $darkPrimaryColour;
    box-shadow: 0px 4px 10px $secondaryColour;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 19.5rem;

        label {
            font-family: $font;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0.075rem;
            line-height: 1.5;
            color: white;
        }
    }

    input[type="text"],
    input[type="email"],
    textArea {
        margin: 0;
        padding: 0.3rem;
        border-radius: 4px;
        border: none;
        width: 100%;
    }

    textArea {
        height: 5rem;
    }

    button {
        background: none;
        width: 100%;
        border-radius: 4px;
        font-family: $font;
        padding: 0.5rem;
        transition: all 250ms ease-in;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.075rem;
        line-height: 1.5;
        outline: 2px solid white;
        border: none;
        color: white;
    }

    button:hover {
        background-color: white;
        outline: none;
        color: black;
    }
}

@media (min-width: 860px) {
    .form {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 30rem;
        height: 30rem;
        gap: 2rem;
        border-radius: 0.6rem;
        padding: 1rem;
        box-shadow: 0px 4px 10px $secondaryColour;
        .wrapper {
            width: 29.5rem;
        }

        textArea {
            height: 10rem;
        }
    }
}
